Makefile
bin/
bin-int/

#####################################################################
# VisualStudioCode.gitignore
#####################################################################

.vscode/